<!DOCTYPE HTML>
<HTML lang="en">
<HEAD>
  <META charset="UTF-8">
  <TITLE>dash</TITLE>
</HEAD>
<BODY>

<FORM action="/todo" method="POST">
  <INPUT type="text" placeholder="task" name="task">
  <BUTTON type="submit">Submit</BUTTON>
</FORM>

<ul class="tasks">
  <% for(var i=0; i<tasks.length; i++) { %>
    <li class="task">
      <span><%= tasks[i].task %></span>
      <button class="b-edit" id=<%= tasks[i]._id %>>edit</button>
    </li>
  <% } %>
</ul>

<script src="main.js"></script>
<script src="jquery.js"></script>
</BODY>
</HTML>